# compilation intermediate files
*.gch
*.o
# generated executables
a.out
test_date
test_raster
test_simulation
test_treatments
test_spread_rate
test_statistics
test_scheduling
# generated documentation
html
# Qt Creator files
*.config
*.creator
*.files
*.includes
*.user
.Rproj.user
.Rhistory
PoPS.Rproj
.DS_Store
