# usual cmake build directory
build
# compilation intermediate files
*.gch
*.o
# generated executables
a.out
test_date
test_deterministic
test_model
test_raster
test_scheduling
test_simulation
test_spread_rate
test_statistics
test_treatments
# generated documentation
html
# Qt Creator files
*.config
*.creator
*.files
*.includes
*.user
.Rproj.user
.Rhistory
PoPS.Rproj
.DS_Store
