name: Lint clang-format

on:
- push
- pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get clang-format-lint-action as image
      run: |
        docker build -t jsharpe/clang-format-lint-action "https://github.com/jsharpe/clang-format-lint-action.git#clang-format10"
    - name: Run clang-format lint
      run: |
        docker run -it --rm --workdir /src -v $(pwd):/src jsharpe/clang-format-lint-action --clang-format-executable /clang-format/clang-format10 -r --exclude .git *.hpp *.cpp
